# Creado por https://www.toptal.com/developers/gitignore/api/pycharm,django
# Editar en https://www.toptal.com/developers/gitignore?templates=pycharm,django

### Django ###
*.Iniciar sesión
*.maceta
*.pyc
__pycache__/
configuración_local.py
db.sqlite3
db.sqlite3-journal
medios de comunicación

# Si su proceso de compilación incluye la ejecución de collectstatic, entonces probablemente no necesite o no desee incluir staticfiles/
# en su repositorio de Git. Actualice y descomente la siguiente línea en consecuencia.
# <nombre-del-proyecto-django>/staticfiles/

### Pila de Django.Python ###
# Archivos compilados por bytes / optimizados / DLL
*.py[cod]
*$py.clase

# Extensiones C
*.asi que

# Distribución / embalaje
.Pitón
construir/
desarrollar-huevos/
dist/
descargas/
huevos/
.huevos/
libre/
lib64/
partes/
dist/
var/
ruedas/
compartir/python-wheels/
*.huevo-info/
.instalado.cfg
*.huevo
MANIFIESTO

# PyInstaller
# Por lo general, estos archivos están escritos por un script de python a partir de una plantilla
# antes de que PyInstaller construya el exe, para inyectarle fecha/otra información.
*.manifiesto
*.Especificaciones

# Registros del instalador
pip-log.txt
pip-eliminar-este-directorio.txt

# Pruebas unitarias / informes de cobertura
htmlcov/
.tox/
.nox/
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.cubrir
*.py, portada
.hipótesis/
.pytest_caché/
cubrir/

# Traducciones
*.mes

# Cosas de Django:

# Cosas del matraz:
instancia/
.webassets-cache

# Cosas chatarra:
.scrapy

# documentación de la esfinge
documentos/_build/

# PyBuilder
.pybuilder/
objetivo/

#Cuaderno Jupyter
.ipynb_puntos de control

#IPython
perfil_predeterminado/
ipython_config.py

#pyenv
# Para una biblioteca o paquete, es posible que desee ignorar estos archivos ya que el código es
# destinado a ejecutarse en múltiples entornos; de lo contrario, consúltalos en:
# .python-version

# pipenv
# De acuerdo con pypa/pipenv#598, se recomienda incluir Pipfile.lock en el control de versiones.
# Sin embargo, en caso de colaboración, si tiene dependencias específicas de la plataforma o dependencias
# al no tener soporte multiplataforma, pipenv puede instalar dependencias que no funcionan, o no
# instalar todas las dependencias necesarias.
#Pipfile.bloqueo

# poesía
# Similar a Pipfile.lock, generalmente se recomienda incluir poetic.lock en el control de versiones.
# Esto se recomienda especialmente para paquetes binarios para garantizar la reproducibilidad, y es más
# comúnmente ignorado por las bibliotecas.
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

#pm
# Similar a Pipfile.lock, generalmente se recomienda incluir pdm.lock en el control de versiones.
#pdm.bloquear
# pdm almacena configuraciones de todo el proyecto en .pdm.toml, pero se recomienda no incluirlo
# en el control de versiones.
# https://pdm.fming.dev/#usar-con-ide
.pdm.toml

#PEP 582; utilizado por, por ejemplo, github.com/David-OConnor/pyflow y github.com/pdm-project/pdm
__paquetes__/

# cosas de apio
celerybeat-horario
celerybeat.pid

# SageMath analiza archivos
*.sage.py

# Ambientes
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Configuración del proyecto Spyder
proyecto .spyder
.proyecto espía

# Configuración del proyecto de cuerda
.ropeproject

# documentación mkdocs
/sitio

# mipy
.mypy_cache/
.dmypy.json
dmypy.json

# Comprobador de tipo Pyre
.pira/

# analizador de tipo estático pytype
.pytype/

# Símbolos de depuración de Cython
cython_debug/

#PyCharm
# La plantilla específica de JetBrains se mantiene en un JetBrains.gitignore separado que puede
# se encuentra en https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# y se puede agregar al gitignore global o fusionarse en este archivo. Por una más nuclear
# opción (no recomendada) puede descomentar lo siguiente para ignorar toda la carpeta de ideas.
#.ocurrencia/

### PyCharm ###
# Cubre los IDE de JetBrains: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm y Rider
# Referencia: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Cosas específicas del usuario
.idea/**/espacio de trabajo.xml
.idea/**/tareas.xml
.idea/**/uso.estadísticas.xml
.idea/**/diccionarios
.idea/**/estante

# Específico del usuario de AWS
.idea/**/aws.xml

# archivos generados
.idea/**/contentModel.xml

# Archivos confidenciales o de alta rotación
.idea/**/fuentes de datos/
.idea/**/fuentes de datos.ids
.idea/**/fuentes de datos.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dinámica.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

#Gradle
.idea/**/gradle.xml
.idea/**/bibliotecas

# Gradle y Maven con importación automática
# Al usar Gradle o Maven con importación automática, debe excluir los archivos del módulo,
# ya que se volverán a crear y pueden causar abandono. Descomente si usa
# importación automática.
# .idea/artefactos
# .idea/compilador.xml
# .idea/jarRepositories.xml
# .idea/modulos.xml
# .idea/*.iml
# .idea/módulos
# *.iml
# *.ipr

# CHacer
cmake-construir-*/

# Complemento Mongo Explorer
.idea/**/mongoConfiguraciones.xml

# Formato de proyecto basado en archivos
*.iws

#IntelliJ
afuera/

# Complemento mpeltonen/sbt-idea
.idea_modules/

# Complemento JIRA
atlassian-ide-plugin.xml

# Complemento de Clojure cursiva
.idea/replstate.xml

# Complemento SonarLint
.idea/sonarlint/

# Complemento Crashlytics (para Android Studio e IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.propiedades
crashlytics-build.propiedades
tela.propiedades

# Cliente de reposo basado en editor
.idea/httpRequests

# Android studio 3.1+ archivo de caché serializado
.idea/caches/build_file_checksums.ser

### Parche PyCharm ###
# Motivo del comentario: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# módulos.xml
# .idea/misc.xml
# *.ipr

# Complemento Sonarlint
# https://plugins.jetbrains.com/plugin/7973-sonarlint
.idea/**/sonarlint/

# Complemento SonarQube
# https://plugins.jetbrains.com/plugin/7238-sonarqube-community-plugin
.idea/**/sonarIssues.xml

# Complemento Markdown Navigator
# https://plugins.jetbrains.com/plugin/7896-markdown-navigator-mejorado
.idea/**/markdown-navegador.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navegador/

# Error de creación de archivos de caché
# Ver https://youtrack.jetbrains.com/issue/JBR-2257
.idea/$CACHE_FILE$

# Complemento CodeStream
# https://plugins.jetbrains.com/plugin/12206-codestream
.idea/codestream.xml

# Kit de herramientas de Azure para el complemento de IntelliJ
# https://plugins.jetbrains.com/plugin/8053-azure-toolkit-for-intellij
.idea/**/azureSettings.xml

# Fin de https://www.toptal.com/developers/gitignore/api/pycharm,django